resumenDeProyectos-page {
    img {
        width: 40px !important;
    }
    .montoColumna {
        text-align: right;
    }
    ion-col {
        margin-bottom: -20px !important;
    }
    ion-row {
        margin-bottom: -50px;
    }
    .temaNombre {
        margin-bottom: -30px !important;
    }
    /*ion-item.tema-group {
        margin-bottom: -45px !important;
    }
    .tituloResumenTotal {
        margin-bottom: -35px !important;
        margin-top: -60px !important;
    }
    .tituloResumen {
        margin-bottom: -25px !important;
    }
    ion-thumbnail img {
        width: 40px !important;
        height: auto !important;
        margin-left: -3px !important;
        margin-top: 10px;
        display: block;
    }
    .tituloResumenTotal p {
        font-size: 50px !important;
    }
    .tituloResumen p {
        font-size: 20px !important;
    }
    .truncar {
        text-align: left !important;
        white-space: nowrap;
        overflow: hidden;
        color: #ffffff !important;
    }
    .endButtons {
        margin-top: -10px !important;
    }*/
}