menuControlGP-page {
    a {
        text-decoration: none;
    }
    ion-item {
        margin-bottom: -25px !important;
    }
    /*ion-badge {
        position: relative !important;
        left: 25px !important;
    }
    ion-badge {
        right: auto !important;
        top: 10px;
    }*/
    ion-thumbnail img {
        margin-left: -16px !important;
    }
}