<ion-header>
    <ion-navbar>
        <ion-title>
            Temas
        </ion-title>
        <ion-buttons end>
                <button  *ngIf="DatosUsuario.boss == 1" ion-button large icon-right color="primary" (click)="irNotificaciones()"><ion-icon name="ios-home"></ion-icon></button>
            <button ion-button large icon-right color="primary" (click)="menuBoss()"><ion-icon name="ios-menu"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item style="margin-left: -30px;" *ngFor="let tema of listaTemas">
            <a href="#" (click)="verDocumentos(tema)">
                <ion-row>
                    <ion-col col-2 icon-only>
                        <ion-icon color="carpetaTemas" name="ios-folder-open"></ion-icon>
                    </ion-col>
                    <ion-col col-7>
                        <p>{{tema.nombre}}</p>
                    </ion-col>
                </ion-row>
            </a>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only color="primary" (click)="getFiltro()"><ion-icon name="md-funnel"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>