tutorialGP-page {
    ion-content {
        background-image: url("../assets/fondo/background-registro.png");
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .formGroup {
        margin-top: 40% !important;
    }
    .videoGP {
        margin-top: 20% !important;
        margin-bottom: 20% !important;
    }
}