menucontrolobra-page {
    a {
        text-decoration: none;
    }
    ion-item {
        margin-bottom: -25px !important;
    }
    ion-thumbnail img {
        margin-left: -16px !important;
    }
}