menuconstructor-page {
    img {
        max-width: 40%;
        margin: auto;
        display: block;
    }
    ion-item {
        text-align: center;
    }
    p {
        text-align: center;
    }
}