accesoUsuarios-page {
    ion-content {
        background-image: url("../assets/fondo/background-acceso.png");
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .registroCuenta {
        text-align: center !important;
        font-size: 18px;
        margin-top: -10px !important;
    }
    ion-row {
        margin-bottom: 2px !important;
    }
    .formGroup {
        margin-top: 90% !important;
    }
    ion-input {
        background-color: white !important;
        color: black !important;
        border-radius: 10px;
    }
    a {
        color: #f7dc6f;
    }
    ion-button {
        background: transparent;
        border: none !important;
    }
    .mss-error {
        text-align: center !important;
    }
}