configTiposAlerta-page {
    a {
        text-decoration: none;
    }
    ion-item {
        margin-bottom: -35px !important;
    }
    ion-thumbnail img {
        width: 40px !important;
        height: auto !important;
        margin-left: -10px !important;
        margin-top: 10px;
    }
    ion-item:hover {
        background-color: #A9D0F5;
        color: white !important;
    }
}